<div style="text-align: center">
    <div>
        <h1 class="pragmatic_logo">Pragmatic</h1>
    </div>
    <div class="pragmatic_header_navebar">
        <a href="{% url 'articleapp:list' %}" class="a_design">
            <span>Articles</span>
        </a>
        <a href="{% url 'projectapp:list' %}" class="a_design">
            <span>Project</span>
        </a>

        {% if not user.is_authenticated %}
            <a href="{% url 'accountapp:login' %}?next={{ request.path }}" class="a_design">
                <span>login</span>
            </a>
            <a href="{% url 'accountapp:create' %}" class="a_design">
                <span>signup</span>
            </a>
        {% else %}
            <a href="{% url 'accountapp:detail' pk=user.pk %}" class="a_design">
                <span>mypage</span>
            </a>
            <a href="{% url 'accountapp:logout' %}?next={{ request.path }}" class="a_design">
                <span>logout</span>
            </a>
        {% endif %}
    </div>
</div>